[APP]
SQLITE3_DB=database.sqlite3

[FACEBOOK]
API_URL=https://graph.facebook.com/v2.10
APP_ID=XXXXXXXXXX
APP_SECRET=XXXXXXXXXXXXXXXXXXXXXX
PAGE_ID=XXXXXXXXXXXXXXXX
PAGE_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX